---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile';
import SwiperCards from '../components/SwiperCards.svelte';
const response = await fetch('https://api.hugo-richard-work.fr/api/photos');

---

<Layout title="Hugo RICHARD développeur web / mobile - Photographe amateur sur Bordeaux">
	<div class="noise"></div>
	<main>
		<Profile />
		<SwiperCards client:only/>

	</main>
</Layout>

<style>
	
</style>
