---
import Layout from '../layouts/Layout.astro';
import type { Photo } from '../models/photo';

import ListPhotos from '../components/listPhotos.svelte';
import Header from '../components/Header';

---

<Layout title="Photos - photos amateur">

	<main>
		<Header client:load></Header>
		<ListPhotos client:load/>
	</main>
</Layout>

<style>
	
</style>
