---
import Layout from '../layouts/Layout.astro';
import type { Photo } from '../models/photo';
import Profile from '../components/Profile';
const response = await fetch('https://api.hugo-richard-work.fr/api/photos');
const data = await response.json();
const photos: Photo[] = data.data;

---

<Layout title="Photos - photos amateur">
	<div class="noise"></div>
	<main>
		
	</main>
</Layout>

<style>
	
</style>
